# Assignment2: Multiple variable Linear Regression

## Summary
In this homework, you will learn how to use `pandas` and `sklean` to implement multiple variable linear regression with startup data.

## What you have to do
- Copy this colab as `YOUR_ID.ipynb` to your google drive
- Implement all `TODO` parts following the comment
- Download `YOUR_ID.ipynb` and submit the file to YS LearnUS

## How to evalulate
- We will evaluate your code with automatic test framework
- **!!!!!IMPORTANT!!!!!** You need to keep other part for proper evaluation

## Reference
- [Python documentation](https://docs.python.org/3/)
- [scikit-learn documentation](https://scikit-learn.org/stable/index.html)
- [pandas documentation](https://pandas.pydata.org/docs/)
- Materials on [YS LearnUS](https://ys.learnus.org/)

### Data Preparation

You can download the '50_Startups.csv' from [Kaggle](https://www.kaggle.com/datasets/amineoumous/50-startups-data?resource=download).
We also prepare [backup google drive link](https://drive.google.com/file/d/1Z2-RCPcDaz6XwiOhIiITGBHyCTUmMvo-/view?usp=sharing) for you.

**Action Item**
- [ ] Download data to your local machine
- [ ] Execute code block to check you implement properly (This does not guarantee your HW score)

In [ ]:
import pandas as pd

dataset = pd.read_csv('50_Startups.csv')
dataset.info()
dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

### Train and Test the model

**Action Item**
- [ ] Implement all `TODO` parts
- [ ] Execute code block to check you implement properly (This does not guarantee your HW score)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# Prepare dataset
X = dataset.drop(['Profit', 'State'], axis=1)
y = dataset['Profit']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=2023)

# TODO: Initialize LinearRegression with regressor

# TODO: Train regressor with `regressor.fit`, `X_train`, and `y_train`

# TODO: Predict the `X_test` with `regressor.predict` to predict `y_pred`


# Calculate the score for the test set
print(f"Score: {regressor.score(X_test, y_test)}")
# Visualize the prediction and corresponding groud truth
print(X_test.join(pd.DataFrame({'y_pred': y_pred, 'y_test': y_test})))

Score: 0.9234064133421133
    R&D Spend  Administration  Marketing Spend         y_pred     y_test
34   46426.07       157693.92        210797.67   89322.413065   96712.80
35   46014.02        85047.44        205517.64   88300.679228   96479.51
9   123334.88       108679.17        304981.62  152723.971034  149759.96
2   153441.51       101145.55        407934.54  179755.036374  191050.39
21   78389.47       153773.43        299737.29  117394.551977  111313.02
12   93863.75       127320.38        249839.44  127814.397032  141585.52
38   20229.59        65947.93        185265.10   67151.770639   81229.06
10  101913.08       110594.11        229160.95  133382.938205  146121.95
42   23640.93        96189.63        148001.11   68864.692428   71498.49
19   86419.70       153514.11             0.00  114083.219187  122776.86